/* Error: Undefined variable.
 *   ,
 * 3 |     background-color: $nav-background;
 *   |                       ^^^^^^^^^^^^^^^
 *   '
 *   styles\nav.scss 3:23  @import
 *   main.scss 4:9         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 3 \2502      background-color: $nav-background;\d\a   \2502                        ^^^^^^^^^^^^^^^\a   \2575 \a   styles\\nav.scss 3:23  @import\a   main.scss 4:9         root stylesheet";
}
