.btn {
    border: $boreder1 $red; 
    background-color: #fff;
    color: #333;
}

@mixin btn--custom($theme: DarkGray) {
    background-color: $theme;
    color: white;
}

@mixin btn-outline-custom($theme: DarkGray) {
    background-color: $theme;
    color: wheat;
    border: $border-1 $theme;

}
.btn-red {
    @include btn--custom($theme: $red)

}